@charset "UTF-8";

@font-face {
    font-family: 'ikamodoki';
    src: url('/res/font/ikamodoki/ikamodoki1_0.eot?#iefix') format('embedded-opentype'),
         url('/res/font/ikamodoki/ikamodoki1_0.woff') format('woff'),
         url('/res/font/ikamodoki/ikamodoki1_0.ttf') format('truetype');
}

body {
    padding-top: 70px;
}

.rate-graph {
    height: 500px;
}

.ikamodoki {
    font-family: 'ikamodoki', sans-serif;
}
