@charset "UTF-8";

@font-face {
    font-family: 'ikamodoki';
    src: url('/res/font/ikamodoki/ikamodoki1_0.eot?#iefix') format('embedded-opentype'),
         url('/res/font/ikamodoki/ikamodoki1_0.woff') format('woff'),
         url('/res/font/ikamodoki/ikamodoki1_0.ttf') format('truetype');
}

body {
    padding-top: 70px;
}

.rate-graph {
    height: 500px;
}

.ikamodoki {
    font-family: 'ikamodoki', sans-serif;
}

/* トップページ / 見るボタン */
#fest-list td:nth-child(1) {
    width: 100px;
    text-align: center;
}

/* トップページ / 第n回 */
#fest-list td:nth-child(2) {
    width: 4em;
}

/* トップページ / 開催期間 */
#fest-list td:nth-child(4) {
    width: 20em;
}

@media (max-width: 767px) {
    #fest-list td:nth-child(2) {
        display: none;
    }

    #fest-list td:nth-child(4) {
        width: 8em;
    }

    #fest-list .fest-term-time,
    #fest-list .fest-term-range,
    #fest-list .fest-term-end {
        display: none;
    }
}
